<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Explanetur igitur.
  Illa videamus, quae a te de amicitia dicta sunt. Equidem etiam Epicurum, in
  physicis quidem, Democriteum puto.
  <b>Idem iste, inquam, de voluptate quid sentit?</b> Duo Reges: constructio
  interrete.
  <a href="http://loripsum.net/" target="_blank"
    >Est enim effectrix multarum et magnarum voluptatum.</a
  >
</p>

<p>
  Non risu potius quam oratione eiciendum? Quo plebiscito decreta a senatu est
  consuli quaestio Cn. Quae qui non vident, nihil umquam magnum ac cognitione
  dignum amaverunt.
  <a href="http://loripsum.net/" target="_blank">Poterat autem inpune;</a>
</p>

<img src="https://picsum.photos/1920/1080/?rand=1" loading="lazy" alt="Change me" />

<p>
  <i>Quo tandem modo?</i>
  <i>Quod ea non occurrentia fingunt, vincunt Aristonem;</i>
  <a href="http://loripsum.net/" target="_blank"
    >Quod autem ratione actum est, id officium appellamus.</a
  >
  <b>Quid de Pythagora?</b> Quid enim me prohiberet Epicureum esse, si probarem,
  quae ille diceret?
</p>
<pre class="my_code" data-language="javascript">
  (function () {
    // Should user class="my_code" and data-language="python"
    // Tested: xml, css, python and javascript
    // Ex.:
    const codes = document.querySelectorAll('.my_code');

    for (const code of codes) {
      const language = code.dataset.language || null;

      const text = code.textContent || code.innerText;
      const config = {
        value: text,
        tabSize: 2,
        mode: language,
        // language: "TypeScript",
        // mime: "application/typescript",
        theme: 'dracula',
        lineNumbers: true,
        styleActiveLine: true,
        styleActiveSelected: true,
        lineWrapping: false,
        line: true,
        readOnly: true,
        viewportMargin: 50,
        matchBrackets: true,
      };

      const editor = CodeMirror(function (node) {
        code.parentNode.replaceChild(node, code);
      }, config);
    }
  })();
</pre>

<h6>Quis istud, quaeso, nesciebat?</h6>

<p>
  Ne in odium veniam, si amicum destitero tueri. Sed quot homines, tot
  sententiae;
  <a href="http://loripsum.net/" target="_blank"
    >Ut aliquid scire se gaudeant?</a
  >
  Qui autem esse poteris, nisi te amor ipse ceperit?
</p>

<p><img src="https://picsum.photos/1920/1080/?rand=2" loading="lazy" alt="Change me" /></p.
